<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.jejuuniv.repository.TwiitMapper">

	<insert id="createTwiit" parameterType="kr.ac.jejuuniv.model.Twitt">
		insert into twitt (id,
		twiitText, writeDate, twiitNumber)
		values
		(#{id},#{twiitt},#{writrDate},#{twiitID})
	</insert>

	<select id="getPersonalTwiit" parameterType="String"
		resultType="kr.ac.jejuuniv.model.TwittList">
		SELECT twiitText , twiitNumber, writeDate FROM twitt
		WHERE
		id = #{id}
	</select>

	<delete id="removeTwitt" parameterType="String">
		delete from twitt where
		twiitNumber=#{twittId}
	</delete>

	<select id="getFollowingTwitt" parameterType="String"
		resultType="kr.ac.jejuuniv.model.TwittList">
		SELECT follow.imageURI, follow.name, twitt.twiitText,
		twitt.writedate
		FROM twitt, (SELECT user.id, user.NAME, user.ImageURI
		FROM USER, follow
		WHERE follow.id = #{id}
		AND user.id = follow.following)follow
		WHERE follow.id = twitt.id
		ORDER BY twitt.writedate DESC
	</select>



</mapper>