<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.jejuuniv.mapper.FollowingMapper">
	<insert id="insertFollowing" parameterType="map">
		insert into following(user, following) values (#{id}, #{targetId})
	</insert>
	<select id="countFollowing" parameterType="map" resultType="java.lang.Integer">
		select count(*) from following where user=#{id} and following=#{targetId}
	</select>
	<delete id="deleteFollowing" parameterType="map">
		delete from following where user=#{id} and following = #{targetId}
	</delete>
</mapper>