<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.jejuuniv.mapper.SsiggleMapper">
	<resultMap type="kr.ac.jejuuniv.model.ssiggle.Ssiggle" id="ssiggleResult">
		<id property="id" column="id" />
		<result property="text" column="text" />
		<result property="time" column="time" />
		<association property="user" column="user"
			javaType="kr.ac.jejuuniv.model.user.User">
			<id property="id" column="userId" />
			<result property="name" column="userName" />
			<result property="image" column="userImage" />
		</association>
	</resultMap>

	<select id="selectUser" parameterType="java.lang.String"
		resultType="kr.ac.jejuuniv.model.user.User">
		select id, name, image from user where id=#{user}
	</select>

	<select id="selectSsiggleById" parameterType="java.lang.String"
		resultType="kr.ac.jejuuniv.model.ssiggle.Ssiggle">
		select a.id as id, a.text as text, a.time as time , b.id as
		userId from ssiggle a left join user b on a.user = b.id where a.id =
		#{id}
	</select>

	<delete id="deleteSsiggleById" parameterType="java.lang.String">
		delete from ssiggle
		where id=#{id}
	</delete>

	<insert id="insertSsiggle" parameterType="kr.ac.jejuuniv.model.ssiggle.Ssiggle">
		insert ssiggle(text,
		user) values (#{text}, #{user.id})
	</insert>

	<update id="updateSsiggle" parameterType="kr.ac.jejuuniv.model.ssiggle.Ssiggle">
		update ssiggle set text
		= #{text} where id=#{id}
	</update>

	<select id="selectSsiggleListByUserIdDescTime" parameterType="java.lang.String"
		resultMap="ssiggleResult">
		select s.id as id, s.text as text, s.time as time, u.id as
		userId, u.name as userName, u.image as userImage from ssiggle s left
		join user u on s.user = u.id where s.user = #{id} order by time desc
	</select>
</mapper>