@CHARSET "UTF-8";


p.title{text-align:center; margin-top:100px; font-size: 40px; font-weight: bold;}
img.mainImg { margin:0 auto; }
div.loginForm{ width:300px;  margin: auto;}

a.joinBtn:hover{ background-color:#aaaaff; }