<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.jejuuniv.mapper.UserMapper">
	<select id="findAll" resultType="kr.ac.jejuuniv.model.UserModel">
		select * from member where id NOT LIKE #{id}
	</select>
	<insert id="insertUser" parameterType="kr.ac.jejuuniv.model.UserModel">
		insert into member (id, name, password, comment)
		values (#{id},#{name},#{password},#{comment})
	</insert>
	<select id="findById" resultType="kr.ac.jejuuniv.model.UserModel">
		SELECT * FROM member WHERE id = #{id}
	</select>
	<update id="updateUser" parameterType="kr.ac.jejuuniv.model.UserModel">
		UPDATE member set name = #{name}, password = #{password}, comment = #{comment} WHERE id = #{id}
	</update>
	<select id="findFollowing" resultType="kr.ac.jejuuniv.model.UserModel">
		select * from member where member.id in (select follow.target from follow where follower = #{id})
	</select>
	<select id="findFollower" resultType="kr.ac.jejuuniv.model.UserModel">
		select * from member where member.id in (select follow.follower from follow where target = #{id})
	</select>
</mapper>