<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jnu.ce.bs.k.persistence.UserMapper">

	<insert id="addUser" parameterType="jnu.ce.bs.k.model.User">
		insert into member (id, password, name, description, profile, sign_date )
		values (#{id}, #{password}, #{name}, #{description}, #{profile}, DATE(NOW()))
	</insert>

</mapper>