<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.jejuuniv.mapper.UserPostMapper">
	<select id="showPostById" parameterType="String" resultType="kr.ac.jejuuniv.model.Post">
		SELECT
			userpost.sequ_number AS sequenceNumber,
			userpost.content AS content,
			userpost.write_date AS writeDate,
			twituser.username AS userName,
			twituser.photo AS photo
		FROM twituser, userpost
		WHERE twituser.userid =	userpost.userid
		AND twituser.userid = #{userid} ORDER BY userpost.write_date DESC
	</select>
</mapper>