@CHARSET "UTF-8";
<style>
p {
	font-size: 12px;
	line-height: 20px;
}
div.rounded {
    background-color: #eeebff;
    color: black;
    line-height: 20px;
    width: 250px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
</style>