<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jnu.ce.bs.k.persistence.UserMapper">

	<insert id="addUser" parameterType="jnu.ce.bs.k.model.User">
		insert into member (id,
		password, name, description, profile, sign_date )
		values (#{id},
		#{password}, #{name}, #{description}, #{profile}, DATE(NOW()))
	</insert>
	
	<update id="modifyUser" parameterType="jnu.ce.bs.k.model.User">
		UPDATE member set password=#{password}, name=#{name}, description=#{description}, profile=#{profile} WHERE id=#{id}
	</update>
	
	<select id="findAllUser" resultType="jnu.ce.bs.k.model.User">
		SELECT * FROM member ORDER BY `name` ASC
	</select>

	<select id="login" parameterType="java.util.Map" resultType="jnu.ce.bs.k.model.User">
		SELECT member_num, id, password, name, description, profile FROM member WHERE id=#{id} AND password=#{password}
	</select>
	
	<insert id="writeNote" parameterType="jnu.ce.bs.k.model.Note">
		insert into note (writer, note, write_date) values (#{writer}, #{note}, TIMESTAMP(NOW()))
	</insert>
	
	<select id="findAllNoteById" parameterType="String" resultType="jnu.ce.bs.k.model.Note">
		SELECT * FROM note WHERE writer=#{id} ORDER BY `write_num` DESC
	</select>
	
	<delete id="deleteNoteByWriteNum" parameterType="String">
		DELETE FROM Note WHERE write_num=#{write_num}
	</delete>
	
	<select id="findFollowUserByID" parameterType="String" resultType="jnu.ce.bs.k.model.Follow">
		SELECT * FROM follow WHERE follower_id=#{followerID}
	</select>
	
	<insert id="follow" parameterType="java.util.Map">
		INSERT INTO follow(follower_id, following_id) values(#{userId}, #{followId})
	</insert>
	
	<delete id="unfollow" parameterType="java.util.Map">
		DELETE FROM follow WHERE follower_id=#{userId} AND following_id=#{followId}
	</delete>
	
	<select id="findFollwingByUserId" parameterType="String" resultType="jnu.ce.bs.k.model.User">
		SELECT m.id, m.`profile`, m.`name`, m.description FROM member m, follow f WHERE f.following_id = m.id AND f.follower_id=#{id} ORDER BY m.`name` ASC 
	</select>
	
	<select id="findFollwerByUserId" parameterType="String" resultType="jnu.ce.bs.k.model.User">
		SELECT m.id, m.`profile`, m.`name`, m.description FROM member m, follow f WHERE f.follower_id = m.id AND f.following_id=#{id} ORDER BY m.`name` ASC
	</select>
	
	<select id="findNoteByUser" parameterType="jnu.ce.bs.k.model.User" resultType="jnu.ce.bs.k.model.Note">
		SELECT n.* FROM note n LEFT OUTER JOIN follow f on(n.writer = f.following_id) WHERE f.follower_id=#{id} UNION SELECT * FROM note WHERE writer=#{id} ORDER BY write_date DESC
	</select>
</mapper>