<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jnu.ce.bs.k.persistence.UserMapper">

	<insert id="addUser" parameterType="jnu.ce.bs.k.model.User">
		insert into member (id,
		password, name, description, profile, sign_date )
		values (#{id},
		#{password}, #{name}, #{description}, #{profile}, DATE(NOW()))
	</insert>
	
	<update id="modifyUser" parameterType="jnu.ce.bs.k.model.User">
		UPDATE member set password=#{password}, name=#{name}, description=#{description}, profile=#{profile} WHERE id=#{id}
	</update>
	
	<select id="findAllUser" resultType="jnu.ce.bs.k.model.User">
		SELECT * FROM member ORDER BY `name` ASC
	</select>

	<select id="login" parameterType="java.util.Map" resultType="jnu.ce.bs.k.model.User">
		SELECT member_num, id, password, name, description, profile FROM member WHERE id=#{id} AND password=#{password}
	</select>
	
	<insert id="writeNote" parameterType="jnu.ce.bs.k.model.Note">
		insert into note (writer, note, write_date) values (#{writer}, #{note}, TIMESTAMP(NOW()))
	</insert>
	
	<select id="findAllNoteById" parameterType="String" resultType="jnu.ce.bs.k.model.Note">
		SELECT * FROM note WHERE writer=#{id} ORDER BY `write_num` DESC
	</select>
	
	<delete id="deleteNoteByWriteNum" parameterType="String">
		DELETE FROM Note WHERE write_num=#{write_num}
	</delete>
</mapper>