<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="hello" class="net.daum.springframework.openseminar.HelloImpl" />
	
	<bean id="helloPrinter" class="net.daum.springframework.openseminar.HelloPrinterImpl" autowire="byType">
		<property name="name" value="허윤호" />
	</bean>
	
</beans>
