@CHARSET "UTF-8";

div.header{
	padding:30px 0 0 0;
	height: 30px;
	margin-bottom: 10px;
}

.profile {	
	width:150px;
	float: left;
	display: block;
}

table{
	width:100%;	
}

tr{
}

td.prof{
	width:60px;
	border-bottom-color: #777;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

td.name{
	width:90px;
	border-bottom-color: #777;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

td.text{
	color:#444;
	border-bottom-color: #777;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

td.delete{
	border-bottom-color: #777;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

td.time{
	border-bottom-color: #777;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}